{% load static %}

<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{% static "https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" %}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">


        <title>Hexashop Ecommerce HTML CSS Template</title>


        <!-- Additional CSS Files -->
        <link rel="stylesheet" type="text/css" href="{% static "assets/css/bootstrap.min.css" %}">

        <link rel="stylesheet" type="text/css" href="{% static "assets/css/font-awesome.css" %}">

        <link rel="stylesheet" href="{% static "assets/css/templatemo-hexashop.css" %}">

        <link rel="stylesheet" href="{% static "assets/css/owl-carousel.css" %}">

        <link rel="stylesheet" href="{% static "assets/css/lightbox.css" %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <link rel="stylesheet" type="text/css" href="{% static "assets/css/sd.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "assets/css/dd.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "assets/css/su.css" %}">


        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">




        <!--

        TemplateMo 571 Hexashop

        https://templatemo.com/tm-571-hexashop

        -->
    </head>
    
    
        	<!-- Start header -->
        {% include 'main/_header.html' %}
        
        <!-- End header -->
        
        {% block content %} {% endblock  %} 

        {% include 'main/subscribe.html' %}


        <!-- Start Footer -->
        {% include 'main/_footer.html' %}
        <!-- End Footer -->

    <body> 

        <!-- jQuery -->
        <script src="{% static "assets/js/jquery-2.1.0.min.js" %}"></script>

        <!-- Bootstrap -->
        <script src="{% static "assets/js/popper.js" %}"></script>
        <script src="{% static "assets/js/bootstrap.min.js" %}"></script>

       <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> 

        <!-- Plugins -->
        <script src="{% static "assets/js/owl-carousel.js" %}"></script>
        <script src="{% static "assets/js/accordions.js" %}"></script>
        <script src="{% static "assets/js/datepicker.js" %}"></script>
        <script src="{% static "assets/js/scrollreveal.min.js" %}"></script>
        <script src="{% static "assets/js/waypoints.min.js" %}"></script>
        <script src="{% static "assets/js/jquery.counterup.min.js" %}"></script>
        <script src="{% static "assets/js/imgfix.min.js" %}"></script> 
        <script src="{% static "assets/js/slick.js" %}"></script> 
        <script src="{% static "assets/js/lightbox.js" %}"></script> 
        <script src="{% static "assets/js/isotope.js" %}"></script> 
        
        <!-- Global Init -->
        <script src="{% static "assets/js/custom.js" %}"></script>

        <script>

            $(function() {
                var selectedClass = "";
                $("p").click(function(){
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                    $("#portfolio div").not("."+selectedClass).fadeOut();
                setTimeout(function() {
                $("."+selectedClass).fadeIn();
                $("#portfolio").fadeTo(50, 1);
                }, 500);
                    
                });
            });

        </script>

    </body>
</html>