{% extends 'main/base.html' %}
{% load static %}



    
    
    <!-- ***** Header Area Start ***** -->
    {% include 'main/_header.html' %}

    <!-- ***** Header Area End ***** -->

{% block content %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>Check Our Products</h2>
                        <span>Awesome &amp; Creative HTML CSS layout by TemplateMo</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Products Area Starts ***** -->
    <section class="section" id="products">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Our Latest Products</h2>
                        <span>Check out all of our products.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            {% for prod in product  %}
                            <div class="item">
                                <div class="thumb">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="{% url 'detail' prod.id %}"><i class="fa fa-eye"></i></a></li>
                                            {% if user.is_authenticated %}
                                                <form method="post" action="{% url 'add_to_favorite' prod.id %}">
                                                    {% csrf_token %}
                                                    <button type="submit">Add to Favorite</button>
                                                </form>
                                            {% endif %}
                                            <li><a href="{% url 'cart_add' prod.id %}"><i class="fa fa-shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
    
                                        <img src="{{ prod.image.url }}" alt=""><h6 class="condition"> {{ prod.condition }} </h6></img>
                                </div>
                                <div class="down-content">
                                    <h4>{{ prod.name }}</h4>
                                    <h6 class="category"><a href="#">{{ prod.categories }}</a></h6>
    
                                    {% if prod.discount_price %}
                                        <span class="discounted-price">${{ prod.discount_price }}</span>
                                        <del class="original-price">${{ prod.price }}.00</del>
                                    {% else %}
                                        <span>${{ prod.price }}.00</span>
                                    {% endif %}
                                    <ul class="stars">
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
    
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>
                            <div class="item"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
               

                <div class="col-lg-12">
                    <div class="pagination">
                        <ul>
                            <li>
                                <a href="#">1</a>
                            </li>
                            <li>
                                <a href="#">2</a>
                            </li>
                            <li>
                                <a href="#">3</a>
                            </li>
                            <li>
                                <a href="#">4</a>
                            </li>
                            <li>
                                <a href="#">></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- ***** Products Area Ends ***** -->
{% endblock content %}
    
    <!-- ***** Footer Start ***** -->
    {% include 'main/_footer.html' %}

   



    


